<!DOCTYPE html>
<html>
  <body>
    <h2>Sign Up!</h2>
    <form action="<%= users_url %>" method = "POST">
      <%= auth_token %>
      <label>Username: 
      <input type="text" name="user[username]">
      </label>
      <br>
      <label>Password: 
      <input type="password" name="user[password]">
      </label>
      <br>
      <input type="submit" value="Sign Up">
    </form>
    <br>
    <% if flash.now %>
      <%= flash.now[:errors] %>
    <% end %>
  </body>
</html>
