<h2><%= @user.username %>'s Profile</h2>
<h3>New Comment</h3>
<p>INSERT COMMENT CODE HERE</p>
<h3><%= @user.username %>'s Goals:</h3>
<p>INSERT GOAL CODE HERE</p>
<h3>Links</h3>
<br>
<a href="<%=users_url%>">All Users</a>